In [64]:
import pandas as pd

# reading in the data
schools = pd.read_csv("schools.csv")

# previewing the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## Question: Which NYC schools have the best math results?

In [65]:
best_math_schools = schools[schools['average_math'] >= 640][['school_name', 'average_math']].sort_values('average_math', ascending = False)
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

## What are the top 10 performing schools based on the combined SAT scores?

In [66]:
schools['total_SAT'] = schools[['average_math', 'average_reading', 'average_writing']].sum(axis = 1)

top_10_schools = (schools[['school_name', 'total_SAT']].sort_values('total_SAT', ascending=False)).head(10)

print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## Which single borough has the largest standard deviation in the combined SAT score?

In [67]:
# grouping by borough and calculating statistics
borough_stats = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2).reset_index()
borough_stats.columns = ['borough', 'num_schools', 'average_SAT', 'std_SAT']

# finding the borough with the largest standard deviation
largest_std_dev = borough_stats.loc[borough_stats['std_SAT'].idxmax()].to_frame().T

print(largest_std_dev)

     borough num_schools average_SAT std_SAT
2  Manhattan          89     1340.13  230.29